# Firebase Admin SDK (server-side)
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
FIRESTORE_EMULATOR_HOST=""
FIREBASE_AUTH_EMULATOR_HOST=""

# Firebase Client SDK (client-side)
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_USE_FIREBASE_EMULATOR=""
NEXT_PUBLIC_FIREBASE_AUTH_EMULATOR_URL=""
